.header-image {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.7)), url('/img/header.jpg');
}

.hero.is-primary {
  a {
    color: hsl(171, 100%, 41%);;
  }
}

.menu-list {
  a {
    word-wrap: break-word;
  }
}

pre code {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
