# Root
Vagrantfile
.vagrant
/doc
/ansible/host
/ansible/group_vars/vagrant.yml
/ansible/site.retry
/deploy

# client-app
/src/client-app/node_modules
/src/client-app/public/dist
/src/client-app/storage
/src/client-app/vendor
/src/client-app/.env
/src/client-app/.phpstorm.meta.php
/src/client-app/_ide_helper.php
/src/client-app/.idea
/src/client-app/Homestead.json
/src/client-app/Homestead.yaml

# admin-app
/src/admin-app/node_modules
/src/admin-app/dist/
