# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"
VM_BOX = 'centos7.3'
VM_SYNCED_FOLDER_HOST = './'
VM_SYNCED_FOLDER_GUEST = '/var/www/html'
VM_SYNCED_FOLDER_OWNER = 'nginx'
VM_SYNCED_FOLDER_GROUP= 'nginx'
VM_PROVISION = 'ansible'
ANSIBLE_PLAYBOOK = 'ansible/site.yml'
ANSIBLE_INVENtORY_PATH = 'ansible/host'
VM_NETWORK = '192.168.33.111'
VM_HOSTNAME = 'localdev'
VM_HOSTNAME_ALIAS_1 = 'rubel'
VM_HOSTNAME_ALIAS_2 = 'admin.rubel'
VM_HOSTNAME_ALIAS_3 = 'api.rubel'

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  # Box name
  config.vm.box = VM_BOX

  # Time setting
  config.vm.provider :virtualbox do |vb|
    vb.customize ["setextradata", :id, "VBoxInternal/Devices/VMMDev/0/Config/GetHostTimeDisabled", 0]
  end

  # Synced Folder
  config.vm.synced_folder VM_SYNCED_FOLDER_HOST, VM_SYNCED_FOLDER_GUEST,
    :owner => VM_SYNCED_FOLDER_OWNER,
    :group => VM_SYNCED_FOLDER_GROUP,
    :mount_options => ["dmode=775,fmode=664"]

  # Provisioning
  config.vm.provision VM_PROVISION do |ansible|
    ansible.playbook = ANSIBLE_PLAYBOOK
    ansible.inventory_path = ANSIBLE_INVENtORY_PATH
    ansible.limit = 'all'
  end

  # Port
  #config.vm.network "forwarded_port", guest: 80, host: 8080

  # Network - Host Updator
  config.vm.network :private_network, ip: VM_NETWORK
  config.vm.hostname = VM_HOSTNAME
  config.hostsupdater.aliases = [VM_HOSTNAME_ALIAS_1, VM_HOSTNAME_ALIAS_2, VM_HOSTNAME_ALIAS_3]
end
