.pagination {
    margin: 0;
    padding: 1rem;
    li {
        color: #0e90d2;
        display: inline-block;
        border: 1px solid #ddd;
        &:hover {
            background-color: #eee;
        }
        a {
            padding: 1rem;
        }
    }
}