$fa-font-path: "~font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome";
$turquoise: hsl(171, 100%, 41%);
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/highlight.js/styles/atom-one-dark";


/**
 * App
 */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.posts-column {
  p {
    margin-bottom: 0.5rem;
  }
}

.tag-list {
  .tag {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  a {
    display: inline;
    padding: 0px;

    &:hover {
      background-color: initial;
    }
  }
}


/**
  * Utils
  */

.mt-one-and-a-half {
    margin-top: 1.5rem;
}

.mb-one-and-a-half {
    margin-bottom: 1.5rem;
}
